<div id="infoColumn" align="center">
    <img class= 'profile' src={{profilePicture}} />
    <div>
        <h1 class='name'>{{name}}</h1>
        <h5 class='whiteHeader'>{{title}}</h5>
        <div class='whiteHeader info'>
            Phone:<br> {{phone}}<br>
            <a href="mailto:{{email}}">Email me</a>
        </div>
    </div>
</div>