<div id="infoColumn" align="center">
    <img class= 'profile' src={{profilePicture}} />
    <div>
        <h1 class='name'>{{name}}</h1>
        <h5 class='whiteHeader'>{{title}}</h5>
        <div class='whiteHeader info'>Phone:<br> {{phone}}<br>  Email:<br> {{email}}</div>
    </div>
</div>