<div id='contactInfo'>
    <h2>{{name}}</h2>
    <h3>{{title}}</h3>
    <p>Born: {{born}}</p>
    <p>Phone: {{phone}}</p>
    <p>Email: {{email}}</p>
    <p>Residence: {{residence}}</p>
    <p>Nationality: {{nationality}}</p>

</div>