<div id='experience'>
{{#each workExperience}}
    <h3>{{name}}</h3>
    <h4>{{position}}</h4>
    <div><strong>{{dateStarted}}</strong> - {{dateEnded}}</div>
    <p>{{description}}</p>

{{/each}}
</div>
